Hallo affilinet Produktdatenteam,<br/>
<br/>
Dies ist eine automatisch gesendete Mail aus einem affilinet Magento Shopmodul mit der Bitte für<br/>
den Advertiser {{var program_id}} den folgenden Product Data Feed einzurichten:<br/>
<br/>
<br/>
{{var feed_link}}<br/>
<br/>
Abholung täglich {{var hour}} UHR<br/>
Wiederholung alle {{var repeat}} STUNDEN<br/>
<br/>
<br/>
Logolinks:<br/>
<br/>
{{var logo}}<br/>
<br/>
Bitte bestätigen Sie die automatische Abholung per E-Mail an: {{var affilinet_email}}<br/>
<br/>
<br/>
Freundliche Grüße<br/>
Affilinet Magento Shop Modul