<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category   Creativestyle
 * @package    Creativestyle_AffiliNet
 * @copyright  Copyright (c) 2014 creativestyle GmbH
 * @author     Marek Zabrowarny / creativestyle GmbH <support@creativestyle.de>
 */
-->
<config>
    <modules>
        <Creativestyle_AffiliNet>
            <version>1.1.1</version>
        </Creativestyle_AffiliNet>
    </modules>
    <global>
        <blocks>
            <affilinet>
                <class>Creativestyle_AffiliNet_Block</class>
            </affilinet>
        </blocks>
        <helpers>
            <affilinet>
                <class>Creativestyle_AffiliNet_Helper</class>
            </affilinet>
        </helpers>
        <models>
            <affilinet>
                <class>Creativestyle_AffiliNet_Model</class>
                <resourceModel>affilinet_resource</resourceModel>
            </affilinet>
            <affilinet_resource>
                <class>Creativestyle_AffiliNet_Model_Resource</class>
                <entities>
                    <datafeed>
                        <table>creativestyle_affilinet_datafeed</table>
                    </datafeed>
                    <mapper>
                        <table>creativestyle_affilinet_datafeed_mapper</table>
                    </mapper>
                    <filter>
                        <table>creativestyle_affilinet_datafeed_filter</table>
                    </filter>
                </entities>
            </affilinet_resource>
        </models>
        <resources>
            <datafeed_setup>
                <setup>
                    <module>Creativestyle_AffiliNet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </datafeed_setup>
            <datafeed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </datafeed_write>
            <datafeed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </datafeed_read>
            <mapper_setup>
                <setup>
                    <module>Creativestyle_AffiliNet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mapper_setup>
            <mapper_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mapper_write>
            <mapper_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mapper_read>
            <filter_setup>
                <setup>
                    <module>Creativestyle_AffiliNet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filter_setup>
            <filter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </filter_write>
            <filter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </filter_read>
        </resources>
        <creativestyle>
            <affilinet>
                <platforms>
                    <de>
                        <label>Germany</label>
                        <tracking_domain>partners.webmasterplan.com</tracking_domain>
                        <signup>1</signup>
                    </de>
                    <at>
                        <label>Austria</label>
                        <tracking_domain>partners.webmasterplan.com</tracking_domain>
                        <signup>7</signup>
                    </at>
                    <ch>
                        <label>Switzerland</label>
                        <tracking_domain>partners.webmasterplan.com</tracking_domain>
                        <signup>6</signup>
                    </ch>
                    <uk>
                        <label>United Kingdom</label>
                        <tracking_domain>being.successfultogether.co.uk</tracking_domain>
                        <signup>2</signup>
                    </uk>
                    <fr>
                        <label>France</label>
                        <tracking_domain>clic.reussissonsensemble.fr</tracking_domain>
                        <signup>3</signup>
                    </fr>
                    <nl>
                        <label>Netherlands</label>
                        <tracking_domain>zijn.samenresultaat.nl</tracking_domain>
                        <signup>4</signup>
                    </nl>
                    <es>
                        <label>Spain</label>
                        <tracking_domain>web.epartner.es</tracking_domain>
                        <signup>5</signup>
                    </es>
                </platforms>
                <webservice>
                    <ns>http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd</ns>
                    <security_ns>http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd</security_ns>
                    <toolbox>
                        <wsdl>https://advertiser-webservices.affili.net/V4/WSDLFactory/Toolbox.wsdl</wsdl>
                    </toolbox>
                    <statistics>
                        <wsdl>https://advertiser-webservices.affili.net/V4/WSDLFactory/Statistics.wsdl</wsdl>
                    </statistics>
                    <orders>
                        <wsdl>https://advertiser-webservices.affili.net/V4/WSDLFactory/OrderManagement.wsdl</wsdl>
                    </orders>
                </webservice>
            </affilinet>
        </creativestyle>
        <template>
            <email>
                <affilinet_feed module="affilinet">
                    <label>Affili.net feed</label>
                    <file>affilinet_feed.html</file>
                    <type>html</type>
                </affilinet_feed>
            </email>
        </template>
    </global>
    <crontab>
        <jobs>
            <generatefeed>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run>
                    <model>affilinet/observer::generateCronFeed</model>
                </run>
            </generatefeed>
            <continuegenerating>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run>
                    <model>affilinet/observer::continueGeneratingFeed</model>
                </run>
            </continuegenerating>
        </jobs>
    </crontab>
    <frontend>
        <layout>
            <updates>
                <affilinet>
                    <file>affilinet.xml</file>
                </affilinet>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <affilinet_order_success>
                        <class>affilinet/observer</class>
                        <method>setAffilinetTrackingOnOrderSuccessPage</method>
                    </affilinet_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <affilinet_order_success>
                        <class>affilinet/observer</class>
                        <method>setAffilinetTrackingOnOrderSuccessPage</method>
                    </affilinet_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    <admin>
        <routers>
            <admin_affilinet>
                <use>admin</use>
                <args>
                    <module>Creativestyle_AffiliNet</module>
                    <frontName>admin_affilinet</frontName>
                </args>
            </admin_affilinet>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <affilinet>
                    <file>affilinet.xml</file>
                </affilinet>
            </updates>
        </layout>
        <translate>
            <modules>
                <Creativestyle_AffiliNet>
                    <files>
                        <default>Creativestyle_AffiliNet.csv</default>
                    </files>
                </Creativestyle_AffiliNet>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <affilinet>
            <general>
                <platform>de</platform>
                <currency>EUR</currency>
                <product_id>sku</product_id>
                <manufacturer_attribute>manufacturer</manufacturer_attribute>
            </general>
            <tracking>
                <active>1</active>
                <parameter1>payment_method</parameter1>
                <parameter2>shipping_method</parameter2>
                <attribute1>color</attribute1>
            </tracking>
            <retargeting>
                <active>0</active>
            </retargeting>
            <datafeed>
                <pages>5</pages>
                <coll_size>500</coll_size>
            </datafeed>
        </affilinet>
    </default>
</config>