Hello Affilinet Product Specifications Team <br/>
This is an automatic e-mail from a Magento shop module with the request for the advertiser {{var program_id}} to setup the following product data feed:<br/>
<br/>
<br/>
{{var feed_link}}<br/>
<br/>
Collection every day at {{var hour}} <br/>
Repeat every {{var repeat}} HOURS<br/>
<br/>
<br/>
Logo links:<br/>
<br/>
{{var logo}}<br/>
<br/>
Please confirm automatic collection by e-mail to: {{var affilinet_email}}<br/>
<br/>
<br/>
Kind regards<br/>
Affilinet Magento Shop Module